*.png
*.flo
*.pyc
*.jpg
*.ppm
*.pgm
*.pfm
*.mp4

*.tar*.gz
*.zip
*.7z
*.rar
*.pkl
*.pth
*.pt

datatools
untrick
exps
temp
tmp
log.txt
*.log
*.log_file
log_valid_janusUAV_FPS10.txt
log_valid_janusUAV.txt

bin
temp
.vs